@keyframes wiggly
{
    0% { transform: rotate(-12deg); }
    50% { transform: rotate(12deg); }
    100% { transform: rotate(-12deg); }
}

@keyframes spinny
{
    0% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
}

body
{
    background-color: #161413;
    color: moccasin;
    margin: 0;
}

hr
{
    border: 3px dashed moccasin;
    margin: 0;
    padding: 0;
}

div.top-dawg
{
    text-align: center;
    
    /* BG */
    margin: 0;
    padding: 5% 0 0 0;

    background-image: url("img/firewatch-bg.jpg");
    background-color: chocolate;
    background-repeat: no-repeat;
    background-position-x: center; /* center the pix plz */
    background-attachment: fixed;
    background-size: 90%;

    /* Hide scroll caused by animation */
    overflow: hidden;
}

#big-title
{
    font-size: 6em;
    font-family: 'Gungsuh';
    font-style: italic;

    /* shadow */
    text-shadow: 0.08em 0.08em #252220;

    /* go fidget */
    animation-name: wiggly;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

#nav-bar
{
    list-style-type: none;
    height: 4em;
    margin: auto;
    padding: 0 5%;

    background-color: #ff0040;

    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

#nav-bar li
{
    padding: auto;
    margin: auto; 
    
    vertical-align: middle;
    flex-grow: 1;
}

#nav-bar li:hover
{
    background-color: #252220;
}

div.middle-content
{
    /* Set some margin space in between edges */
    width: 90%;
    margin: auto;

    /* Set BG to weird... orange shit */
    background-color: rgb(43, 39, 38);

    display: table;
}

div#content
{
    /* Add padding to contents */
    padding: 2em;
}

div.bottom-footer
{
    text-align: center;
    font-size: 0.8em;

    /* Fancy colours */
    background-color: rgb(43, 41, 46);
    color: slategray;

    /* No margin, Solid plz */
    margin: 0;
    padding: 1em;
}