@font-face
{
	font-family: HackSan;
	src: url(fnt/Hack-Namsan.ttf);
}

@font-face
{
    font-family: OneLight;
    src: url(fnt/KGOneMoreLightBIG.ttf);
}

@keyframes wiggly
{
    0% { transform: rotate(-12deg); }
    50% { transform: rotate(12deg); }
    100% { transform: rotate(-12deg); }
}

@keyframes spinny
{
    0% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
}

@keyframes unfold-horizontal
{
    0% { width: 0%; }
    100% { width: 100%; }
}

@keyframes fold-horizontal
{
    0% { width: 100%; }
    100% { width: 0%; }
}



body
{
    background-color: #161413;
    color: moccasin;
    margin: 0;

    font-family: HackSan;
}

hr
{
    border: 3px dashed moccasin;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6
{
    font-size: 300%;

    text-align: center;
    color: #FFDD00;
}

h1::before, h2::before, h3::before, h4::before, h5::before, h6::before
{
	/*background-image: : url(img/deco-left.png) center center no-repeat;*/
	content: url(img/deco-left.png);
}

h1::after, h2::after, h3::after, h4::after, h5::after, h6::after
{
	/*background-image: : url(img/deco-left.png) center center no-repeat;*/
	content: url(img/deco-right.png);
}


div.top-dawg
{
    text-align: center;
    
    /* BG */
    height: 100vh;
    margin: 0;
    padding: 0 0 0 0;
    
    background-image: url("img/firewatch-bg.jpg");
    background-color: chocolate;
    background-repeat: no-repeat;
    background-position-x: center; /* center the pix plz */
    background-attachment: fixed;
    background-size: 90%;
    
    /* Hide scroll caused by animation */
    overflow: hidden;
    
    z-index: 1;
    position: relative;
    box-shadow: 0 -21px 42px 21px black;
}

div.top-dawg::after
{
	content: "";

	position: absolute;
	top: 0;
	left: 0;

	height: 100%;
	width: 100%;

    background-image: url("img/bg-diamond.png");
    background-repeat: repeat;
}

#video-bg
{
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;

	/*position:absolute;
    z-index: 0;

    display: block;
    margin: 0;
    margin-left: auto;
    margin-right: auto;

    height: 120vh;
    overflow: hidden;*/
}

#big-title
{
	line-height: 1em;
    font-size: 7em;
    font-family: OneLight;
    /*font-style: italic;*/

    margin: calc(50vh - 0.5em - 32px) 0;
    
    /* shadow */
    text-shadow: 0 0.15em #252220;
    
    position: relative;
    z-index: 2;
    
    /* go fidget */
    animation-name: wiggly;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

#nav-bar
{   
	position: relative;
	z-index: 2;
    height: 64px;
    
    margin: 0;
    padding: 0;
}

#nav-bar ul
{
    height: 100%;
    
    /* margin: 0; */
    padding: 0 5%;
    background-color: #ff0040;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    /* Shadow */
    box-shadow: 0 0 84px 21px #161413;
}

#nav-bar li
{
    transition-duration: 0.5s;
    
    /* height: 100%; */
    width: 100%;
    height: inherit;
    padding: auto 0;
    
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-bar li::after
{
    /* animation: unfold-horizontal;
    animation-duration: 1s; */
    /* This is hella important; Make sure that you use content to render! */
    content: "";
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    
    top: 0;
    left: 0;
    height: 100%;
}

#nav-bar li:hover
{
    transition-duration: 0.5s;
    background-color: #161413;
}

#nav-bar span
{
    margin: auto;
    
    /* animation: unfold-horizontal;
    animation-duration: 1s; */
}

div.middle-content
{
    position: relative;
    z-index: 1;
    
    /* Set some margin space in between edges */
    width: 90%;
    margin: auto;
    
    /* Set BG to weird... orange shit */
    background-color: rgb(43, 39, 38);
    text-shadow: 0 0.2em #000000;
    
    display: table;
}

div#content
{
    /* Add padding to contents */
    padding: 2em;
}

div.bottom-footer
{
    text-align: center;
    font-size: 0.8em;

    /* Fancy colours */
    background-color: rgb(43, 41, 46);
    color: slategray;

    /* No margin, Solid plz */
    margin: 0;
    padding: 1em;
}